<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
    <app-work-experience></app-work-experience>
</div>
<h2> Contact info </h2>
<ul>
  <li>
    <h2>
      {{ email }}

      </h2>     
  </li>
  <li>
    <h2>{{ phonenumber}}</h2>
  </li>  
</ul>

<h2> Work Experience </h2>
<ul>
  <li>
    <h2>
      {{ app-work-experience }}

      </h2>     
  </li>
  <li>
    <h2>{{ app-work-experience}}</h2>
  </li>  
</ul>

<h2> Education </h2>
<ul>
  <li>
    <h2>
      {{ education }}

      </h2>     
  </li>
  <li>
    <h2>{{ education}}</h2>
  </li>  
</ul>
<router-outlet></router-outlet>
